@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

@import './components/card.scss';
@import './components/toggleSwitch.scss';
@import './components/plusMinus.scss';
@import './components/table.scss';
@import './pages/employee/index.scss';
@import './pages/employee/login.scss';

@media screen and (max-width: 768px) {
  .employeeCard.fsm {
    margin-bottom: 70px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}

@media (min-width: 780px) {
  .fsm-citizen-wrapper {
    width: calc(100% - 219px);
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 1rem;
  }
}

.fsm-inline-style {
  background: #fafafa;
  border: 1px solid #d6d5d4;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 40px;
  width: 90%;
}
.employee {
  .ground-container {
    margin-left: unset;
  }
}

.employee-data-table .row h2 {
  width: 25%;
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 1%;
  width: 30px;
  height: 30px;
}

.employeeCard {
  .card-section-header.fsm-registry {
    margin-top: 40px;
    margin-bottom: unset;
    &:first-child {
      margin-top: 0;
    }
  }
}
@media (min-width: 780px) {
  .card-home {
    width: max-content !important;
  }
  .complaint-links-container {
    .header {
      align-items: center !important;
    }
    .removeHeight {
      padding-right: 16px;
    }
    .flex-fit {
      padding: 8px 16px;
    }
  }
}
.CitizenHomeCard {
  border-radius: 4px;
}
.fsm-citizen-wrapper {
  .card {
    margin-bottom: 24px;
  }
}

.primary-label-btn {
  display: flex;
}

@media screen and (max-width: 768px) {
  .card {
    .card-sub-header {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
}

.fsm-citizen-rating-wrapper {
  .card-label {
    margin-bottom: 20px;
  }
  .custom-checkbox {
    width: 24px;
    height: 24px;
  }
  .checkbox-wrap {
    input {
      width: 24px;
      height: 24px;
    }
    .label {
      padding-top: 5px !important;
      margin-left: 45px;
    }
  }

  .primary-label-btn {
    display: flex;
  }
}
.radio-wrap {
  .radio-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
  .radio-btn-checkmark {
    width: 1.5rem;
    height: 1.5rem;
  }
  .radio-btn-checkmark::after {
    width: 0.75rem !important;
    height: 0.75rem !important;
    top: 6px !important;
    left: 6px !important;
  }
}
.radio-wrap div {
  display: flex;
  align-items: center;
}

.gender-label-row {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  h2 {
    width: 50%;
  }
  .value {
    width: 50%;
  }
}

.info-banner-wrap h2 {
  color: #0b0c0c;
}
.multi-upload-wrap div .delete {
  border-radius: unset;
  top: 0;
  right: 0;
}
.stepper-gender-wrap {
  border-bottom-width: 2px;
  border-color: #d6d5d4;
  margin-bottom: 16px;
  h2 {
    margin-bottom: 16px;
  }
}

.fsm-citizen-payment-label-wrapper {
  border-bottom-width: 2px;
  margin-bottom: 16px;
  border-color: #d6d5d4;
  .key-note-pair {
    display: flex;
    h3 {
      width: 40%;
      word-break: break-all;
    }
  }
}

.fsm-citizen-property-subtype-container {
  .card-header {
    white-space: nowrap;
  }
}

.citizen-payment-error {
  margin-bottom: 16px;
}

.fsm-payment-logo {
  padding-right: 10px;
}
