.inbox-search-wrapper {
  height: 100%;
}

.inbox-search-wrapper .inbox-search-component-wrapper {
  width: 100%;
}

.inbox-search-wrapper .inbox-search-component-wrapper .sections-parent {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  &.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.inbox-search-wrapper .inbox-search-component-wrapper .sections-parent .section.links {
  color: #f47738;
}

.inbox-search-wrapper .inbox-search-component-wrapper .sections-parent .section {
  min-height: 10rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.search-wrapper {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.search-wrapper .search-field-wrapper {
  display: grid;
  grid-row-gap: 0.25rem;
  row-gap: 0.25rem;
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.search-wrapper .search-field-wrapper.inbox {
  grid-template-columns: repeat(3, 1fr);
}

.inbox-search-wrapper .inbox-search-component-wrapper .sections-parent .section.filter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-gap: 1rem;
  gap: 1rem;
  padding-top: 8px;
  &.inbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 8px;
    justify-content: flex-end;
  }
  &.search {
    grid-column: 4 / span 1;
  }
}

.inbox-search-links-container .header {
  display: grid;
  grid-template-columns: 20% 1fr;
}
.inbox-search-links-container .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.inbox-search-links-container .header .text {
  line-height: 32px;
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .inbox-search-links-container .header .text {
    font-size: 24px;
  }
}
.inbox-search-links-container {
  height: 100%;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}
.inbox-search-links-container .contents {
  margin-top: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.inbox-search-wrapper .inbox-search-component-wrapper .sections-parent.inbox .links .inbox-links-icon {
  color: #f47738;
  fill: #f47738;
  height: 40px;
  width: 40px;
}

.search-wrapper .filter-header-wrapper {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  height: 3rem;
  margin-bottom: 1rem;
}
.search-wrapper .filter-header-wrapper .icon-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.search-wrapper .filter-header-wrapper .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .search-wrapper .filter-header-wrapper .label {
    font-size: 24px;
  }
}
.search-wrapper .filter-header-wrapper .icon-refresh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.0902);
  cursor: pointer;
}
.search-wrapper .search-field-wrapper.inbox.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.search-instruction-header {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: #505a5f;
}
.search-wrapper .search-field-wrapper.search {
  grid-template-columns: repeat(4, 1fr);
}
.no-data-found {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .error-msg {
    margin: 2rem;
  }
}
